* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    height: 100vh;
    background: linear-gradient(#1c1917 50%, #451400 50%);
}

.container {
    background-color: #1e293b;
    padding: 35px 20px 38px;
    width: 90vw;
    max-width: 512px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
}

.search-box {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 15px;
}